{
  "targets": {
    "win-vm-1": {
      "hostname": "win-vm-1",
      "ip": "20.64.171.136",
      "port": 3389,
      "domain": "",
      "users": [
        {"username": "rdpadmin", "password": "YOUR_PASSWORD_HERE"}
      ]
    },
    "dc-01": {
      "hostname": "dc-01",
      "ip": "10.0.1.10",
      "port": 3389,
      "domain": "CORP",
      "users": [
        {"username": "Administrator", "password": "YOUR_PASSWORD_HERE"}
      ]
    }
  }
}
